@{
    ViewBag.Title = "Details Page";
}

<div class="jumbotron">
    <p class="lead">Here is a lovely book you'll never be able to borrow from us:</p>
</div>

<table>
    <tr>
    <th>ISBN</th>
    <th>Title</th>
    <th>Author</th>
    <th>Available copies</th>
  </tr>
    <tr>
    <td>@Model.isbn</td>
    <td>@Model.title</td>
    <td>@Model.author</td>
    <td>@Model.availablecopies</td>
        
    </tr>

</table>

<h2>Borrowed copies:</h2>
<table>
    <tr>
    <th>User name</th>
    <th>Return date</th>
    </tr>
    @for (int i = 0; i < Model.username.Count; i++)
    {
            <tr>
          <td>@Model.username[i]</td>
          <td>@Model.returndate[i]</td>
              </tr>
    }
    
</table>